body {
  background: #EEE;
  /* font-size:0.9em !important; */
}

.invoice {
  width: 970px !important;
  margin: 50px auto;
}
.invoice .invoice-header {
  padding: 25px 25px 15px;
}
.invoice .invoice-header h1 {
  margin: 0;
}
.invoice .invoice-header .media .media-body {
  font-size: 0.9em;
  margin: 0;
}
.invoice .invoice-body {
  border-radius: 10px;
  padding: 25px;
  background: #FFF;
}
.invoice .invoice-footer {
  padding: 15px;
  font-size: 0.9em;
  text-align: left;
  color: #999;
}

.logo {
  max-height: 70px;
  border-radius: 10px;
}

.dl-horizontal {
  margin: 0;
}
.dl-horizontal dt {
  float: left;
  width: 80px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 90px;
}

.rowamount {
  padding-top: 15px !important;
}

.rowtotal {
  font-size: 1.3em;
}

.colfix {
  width: 12%;
}

.mono {
  font-family: monospace;
}

.parent {
  display: grid;

  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .divpri1 { grid-area: 3 / 1 / 4 / 3; }
  .div2pri2  { grid-area: 3 / 3 / 4 / 5; }
  .div3pri3  { grid-area: 3 / 5 / 4 / 7; }
  .div4pri4  { grid-area: 1 / 1 / 2 / 9; }
  .div5pri5  { grid-area: 2 / 1 / 3 / 9; }
  .div6pri6  { grid-area: 3 / 7 / 4 / 8; }
  .div7pri7  { grid-area: 3 / 8 / 4 / 9; }
  .div8pri8  { grid-area: 4 / 1 / 5 / 7; }
  .div9pri9  { grid-area: 4 / 7 / 5 / 9; }
  

.parentheader {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.divuno {
  grid-area: 1 / 2 / 2 / 3;
}

.divdos {
  grid-area: 2 / 2 / 3 / 3;
}

.divtres {
  grid-area: 1 / 1 / 3 / 4;
}



.parent2 {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div11 {
  grid-area: 1 / 9 / 5 / 10;
}

.div12 {
  grid-area: 1 / 8 / 5 / 9;
}

.div13 {
  grid-area: 1 / 8 / 2 / 9;
}

.div14 {
  grid-area: 2 / 8 / 3 / 9;
}

.div15 {
  grid-area: 4 / 8 / 5 / 9;
}

.div16 {
  grid-area: 4 / 9 / 5 / 10;
}

.div17 {
  grid-area: 1 / 1 / 2 / 8;
}

.div18 {
  grid-area: 1 / 1 / 2 / 4;
}

.div19 {
  grid-area: 1 / 5 / 2 / 8;
}

.div110 {
  grid-area: 2 / 1 / 3 / 3;
}

.div111 {
  grid-area: 2 / 3 / 3 / 6;
}

.div112 {
  grid-area: 2 / 6 / 3 / 8;
}

.div113 {
  grid-area: 2 / 1 / 3 / 8;
}

.div114 {
  grid-area: 4 / 1 / 5 / 3;
}

.div115 {
  grid-area: 4 / 3 / 5 / 6;
}

.div116 {
  grid-area: 4 / 6 / 5 / 8;
}



.parent3 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.divfinal {
  grid-area: 1 / 1 / 2 / 10;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}