body {
  background: #EEE;
  font-family: sans-serif;
}

.invoice {
  width: 1000px !important;
  margin: 40px auto;
}
.invoice .invoice-header {
  padding: 15px 15px 15px;
}
.invoice .invoice-header h1 {
  margin: 0;
}
.invoice .invoice-header .media .media-body {
  font-size: 13px;
  margin: 0;
}
.invoice .invoice-body {
  border-radius: 10px;
  padding: 10px 20px;
  background: #FFF;
}

.logo {
  max-height: 70px;
  border-radius: 10px;
}

/*Diseño CSS correspondiente al encabezadodel formato PDF*/
.parent{
  display: grid;

  grid-column-gap: 1.5px;
  grid-row-gap: 1.5px;
  }

.encabezado{
  font-size: 13px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 1.5px;
  grid-row-gap: 1.5px;
}

.encabezado label{
  padding: 0 5px;
  font-weight: 400;
}

.cliente  { grid-area: 1 / 1 / 2 / 10; }
.cliente-comercial  { grid-area: 2 / 1 / 3 / 14; }
.direccion  { grid-area: 3 / 1 / 5 / 13; }
.contacto { grid-area: 5 / 1 / 6 / 4; }
.telefono  { grid-area: 5 / 4 / 6 / 7; }
.vendedor  { grid-area: 5 / 7 / 6 / 13; }
.cedula  { grid-area: 1 / 10 / 2 / 13; }
.plazo  { grid-area: 6 / 11 / 7 / 13; }
.pedidoRef  { grid-area: 7 / 11 / 8 / 13; }
.observaciones  { grid-area: 6 / 1 / 8 / 11; }
.div9pri9  { grid-area: 4 / 7 / 5 / 9; }
  

.parentheader {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 1.5px;
  grid-row-gap: 1.5px;
}

.divuno {
  grid-area: 1 / 2 / 2 / 3;
}

.divdos {
  grid-area: 2 / 2 / 3 / 3;
}

.divtres {
  grid-area: 1 / 1 / 3 / 4;
}


/*Diseño CSS correspondiente al panel de artículos del formato PDF*/
.panel-lineas{
  font-size: 12px !important;
}

.tabla-articulos thead {
  font-weight: 700;
}




/*Diseño CSS correspondiente a la parte del FOOTER del formato PDF*/
.parent2 {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 1.5px;
  grid-row-gap: 1.5px;
  font-size: 12px;
}

.montos {
  grid-area: 1 / 12 / 7 / 16;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.montos .totalizacion{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.montos .total{
  border-top: 1px solid black;
}

.info-fe {
  grid-area: 1 / 1 / 4 / 12;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.info-fe label{
  font-weight: 400;
}

.numeros .izquierda{
  text-align: left;
}

.numeros .derecha{
  text-align: right;
}

.numeros .lnumeros{
  display: block;
}
.div110 {
  grid-area: 4 / 9 / 6 / 12;
}

.div111 {
  grid-area: 4 / 1 / 6 / 4;
}

.div112 {
  grid-area: 4 / 4 / 6 / 9;
}

.div113 {
  grid-area: 3 / 1 / 4 / 4;
}

.div114 {
  grid-area: 6 / 1 / 7 / 4;
}

.div115 {
  grid-area: 6 / 4 / 6 / 9;
}

.div116 {
  grid-area: 6 / 9 / 6 / 12;
}



.parent3 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.divfinal {
  grid-area: 1 / 1 / 2 / 10;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.parent4 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.divinfofeTC  { grid-area: 1 / 1 / 2 / 11; }
.divresolucion  { grid-area: 2 / 1 / 3 / 11; }

footer{
  display: none;
}